In [22]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
home_values_zc= Path("Resources/Zip_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_month.csv")
rental_rates_zc = Path("Resources/Zip_zori_sm_month.csv")
price_house_summary = Path("Resources/rental_price_summary.csv")

# Read rental rents and home values Data File and store into Pandas DataFrame
home_values_zc_data = pd.read_csv(home_values_zc)
rental_rates_zc_data = pd.read_csv(rental_rates_zc)
price_house_summary_data = pd.read_csv(price_house_summary)
rental_rates_zc_data

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,3/31/2015,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1561.065329,...,1947.742044,1953.829935,1956.758845,1935.870893,1917.114226,1914.339139,1944.486847,1957.133875,1959.234985,1933.289664
1,91940,2,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1263.983080,...,1770.875616,1818.057677,1814.713333,1793.298090,1760.444957,1757.662917,1749.896441,1759.316255,1769.318907,1776.110784
2,92593,4,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX",Travis County,1262.872501,...,1922.940550,1911.997216,1905.809811,1898.869358,1901.716545,1886.961949,1894.167758,1895.048199,1900.002806,1900.793839
3,62093,5,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2751.841023,2830.421186,2836.374048,2834.725252,2805.089609,2759.510915,2712.637266,2712.293022,2734.607236,2767.198257
4,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1325.407266,1353.864352,1364.959529,1341.954348,1353.201477,1360.543292,1398.441216,1415.040601,1413.163529,1398.711538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6364,62281,27793,11930,zip,NY,NY,Amagansett,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,...,NaN,17189.209060,14571.911460,15934.081970,15888.692260,16576.595330,21141.655760,29216.658820,39431.779730,39703.444440
6365,62312,28072,11965,zip,NY,NY,Shelter Island Heights,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.000000
6366,60648,28289,7311,zip,NJ,NJ,Jersey City,"New York-Newark-Jersey City, NY-NJ-PA",Hudson County,NaN,...,3919.023682,3971.070296,3932.582030,3832.925295,3778.513209,3757.798346,3763.039878,3768.097607,3772.789360,3801.755556
6367,418163,31650,89158,zip,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,NaN,...,NaN,NaN,NaN,NaN,3525.141888,3579.540577,3853.327229,3800.443474,3836.115656,3741.083333
6368,62387,39809,12085,zip,NY,NY,Guilderland Center,"Albany-Schenectady-Troy, NY",Albany County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1192.094145,1207.500000

In [2]:
#Performed column selection and data cleaning to obtain precise and necessary information
home_values_zc_filtered= home_values_zc_data.iloc[:, :8].join(home_values_zc_data.iloc[:, 249:])
home_values_zc_filtered

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,2020-01-31,2020-02-29,...,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30
0,61148,0,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",406642.042818,408361.866294,...,615062.983480,621761.215076,625479.083941,629275.653813,634344.765379,638427.608431,641092.045204,643734.510958,649316.245229,657754.828835
1,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",356137.900754,357525.057764,...,490013.487427,490796.074328,489337.576299,487668.918352,486266.253234,484285.818808,482059.084265,480908.943163,481678.571502,483829.146087
2,91940,2,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",207605.706244,208363.471659,...,282707.929238,284264.580800,284464.395033,283861.612399,282863.336832,281282.037898,279438.831388,277838.025410,276979.733523,276593.201958
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",789497.522342,791973.003314,...,863899.854276,870065.557415,869876.668394,868440.304986,867144.737638,865743.190203,864823.938147,860890.786531,856940.822910,850601.701855
4,92593,4,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX",314339.647794,316315.878526,...,468791.651787,465197.481834,459405.411183,453429.828075,447116.683835,440361.944752,434390.678770,429628.657309,426198.556085,423028.220043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26908,67377,39809,22731,zip,VA,VA,Madison,"Washington-Arlington-Alexandria, DC-VA-MD-WV",255823.580740,257006.587392,...,344769.714873,346053.663420,345900.368747,345033.188762,343094.130092,340602.906578,337868.371951,336707.269500,337338.884545,339262.350026
26909,80861,39809,52163,zip,IA,IA,Protivin,NaN,NaN,NaN,...,104781.060998,106456.976161,107804.051061,108459.358431,108927.795130,109240.555242,109059.258071,108329.563455,107585.510029,107394.020424
26910,69074,39809,26576,zip,WV,WV,Farmington,"Fairmont, WV",72087.417416,72386.035638,...,101580.053696,102543.156393,102575.499799,102458.499143,102092.588301,102183.180167,102561.417618,103339.682913,104108.684456,104808.801989
26911,64515,39809,16245,zip,PA,PA,Oak Ridge,"Pittsburgh, PA",48244.595118,48220.830587,...,85974.037086,86545.754413,86296.237913,85391.947324,84109.091341,83463.445742,83726.673656,83586.437512,82575.655217,81342.133746
26912,80190,39809,50160,zip,IA,IA,Martensdale,"Des Moines-West Des Moines, IA",151840.158962,151495.003052,...,187124.462824,187681.685585,187643.693071,187962.489193,188528.189610,188827.849057,188730.491540,188683.774120,189253.674092,190190.612408

In [3]:
#Calculate the average for year
comlumns_2020_year = ['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30',
                 '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31']
average_2020_year = home_values_zc_filtered[comlumns_2020_year].mean (axis=1, numeric_only=True )
average_2020_year

comlumns_2021_year = ['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30',
                 '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31']
average_2021_year = home_values_zc_filtered[comlumns_2021_year].mean (axis=1, numeric_only=True )
average_2021_year

comlumns_2022_year = ['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
                 '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31']
average_2022_year = home_values_zc_filtered[comlumns_2022_year].mean (axis=1, numeric_only=True )
average_2022_year

comlumns_2023_year = ['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30']
average_2023_year = home_values_zc_filtered[comlumns_2023_year].mean (axis=1, numeric_only=True )
average_2023_year

0        647974.407556
1        482118.936254
2        277712.448070
3        858314.312361
4        428311.528052
             ...
26908    337794.219005
26909    108092.087995
26910    103704.646744
26911     82807.725033
26912    189214.638040
Length: 26913, dtype: float64

In [4]:
#Create a summary DataFrame
home_values_summary = {
    'RegionID': home_values_zc_filtered['RegionID'],
    'SizeRank': home_values_zc_filtered['SizeRank'],
    'RegionName': home_values_zc_filtered['RegionName'],
    'RegionType': home_values_zc_filtered['RegionType'],
    'StateName': home_values_zc_filtered['StateName'],
    'State': home_values_zc_filtered['State'],
    'City': home_values_zc_filtered['City'],
    'Metro': home_values_zc_filtered['Metro'],
    'Home_values Average_2020': average_2020_year,
    'Home_values Average_2021': average_2021_year,
    'Home_values Average_2022': average_2022_year,
    'Home_values Average_2023': average_2023_year}

# Formatting
home_values_summary ["Home_values Average_2020"] = home_values_summary["Home_values Average_2020"].map("${:,.2f}".format)
home_values_summary ["Home_values Average_2021"] = home_values_summary["Home_values Average_2021"].map("${:,.2f}".format)
home_values_summary ["Home_values Average_2022"] = home_values_summary["Home_values Average_2022"].map("${:,.2f}".format)
home_values_summary ["Home_values Average_2023"] = home_values_summary["Home_values Average_2023"].map("${:,.2f}".format)

# Display the DataFrame
home_values_summary  = pd.DataFrame(home_values_summary)
home_values_summary

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,Home_values Average_2020,Home_values Average_2021,Home_values Average_2022,Home_values Average_2023
0,61148,0,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA","$415,848.93","$481,966.53","$599,744.28","$647,974.41"
1,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX","$361,578.71","$409,439.53","$478,010.41","$482,118.94"
2,91940,2,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX","$211,373.77","$236,051.68","$275,823.76","$277,712.45"
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA","$795,395.01","$809,624.93","$852,889.87","$858,314.31"
4,92593,4,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX","$326,109.33","$394,945.42","$453,257.74","$428,311.53"
...,...,...,...,...,...,...,...,...,...,...,...,...
26908,67377,39809,22731,zip,VA,VA,Madison,"Washington-Arlington-Alexandria, DC-VA-MD-WV","$264,529.14","$301,350.60","$337,083.26","$337,794.22"
26909,80861,39809,52163,zip,IA,IA,Protivin,NaN,$nan,$nan,"$104,374.85","$108,092.09"
26910,69074,39809,26576,zip,WV,WV,Farmington,"Fairmont, WV","$78,812.36","$93,699.67","$99,557.44","$103,704.65"
26911,64515,39809,16245,zip,PA,PA,Oak Ridge,"Pittsburgh, PA","$52,033.42","$66,137.70","$81,420.06","$82,807.73"
26912,80190,39809,50160,zip,IA,IA,Martensdale,"Des Moines-West Des Moines, IA","$154,601.42","$168,225.84","$183,919.51","$189,214.64"

In [5]:
#Performed column selection and data cleaning to obtain precise and necessary information
rental_rates_zc_filtered= rental_rates_zc_data.iloc[:, :8].join(rental_rates_zc_data.iloc[:, 67:])
rental_rates_zc_filtered

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,1/31/2020,2/29/2020,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",1559.446741,1562.645088,...,1947.742044,1953.829935,1956.758845,1935.870893,1917.114226,1914.339139,1944.486847,1957.133875,1959.234985,1933.289664
1,91940,2,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",1388.409837,1395.455528,...,1770.875616,1818.057677,1814.713333,1793.298090,1760.444957,1757.662917,1749.896441,1759.316255,1769.318907,1776.110784
2,92593,4,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX",1451.753035,1464.216489,...,1922.940550,1911.997216,1905.809811,1898.869358,1901.716545,1886.961949,1894.167758,1895.048199,1900.002806,1900.793839
3,62093,5,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",2350.427696,2358.193215,...,2751.841023,2830.421186,2836.374048,2834.725252,2805.089609,2759.510915,2712.637266,2712.293022,2734.607236,2767.198257
4,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",NaN,NaN,...,1325.407266,1353.864352,1364.959529,1341.954348,1353.201477,1360.543292,1398.441216,1415.040601,1413.163529,1398.711538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6364,62281,27793,11930,zip,NY,NY,Amagansett,"New York-Newark-Jersey City, NY-NJ-PA",NaN,NaN,...,NaN,17189.209060,14571.911460,15934.081970,15888.692260,16576.595330,21141.655760,29216.658820,39431.779730,39703.444440
6365,62312,28072,11965,zip,NY,NY,Shelter Island Heights,"New York-Newark-Jersey City, NY-NJ-PA",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.000000
6366,60648,28289,7311,zip,NJ,NJ,Jersey City,"New York-Newark-Jersey City, NY-NJ-PA",NaN,NaN,...,3919.023682,3971.070296,3932.582030,3832.925295,3778.513209,3757.798346,3763.039878,3768.097607,3772.789360,3801.755556
6367,418163,31650,89158,zip,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",NaN,NaN,...,NaN,NaN,NaN,NaN,3525.141888,3579.540577,3853.327229,3800.443474,3836.115656,3741.083333
6368,62387,39809,12085,zip,NY,NY,Guilderland Center,"Albany-Schenectady-Troy, NY",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1192.094145,1207.500000

In [6]:
#Calculate the average for year
comlumns_2020_year = ['1/31/2020', '2/29/2020', '3/31/2020', '4/30/2020', '5/31/2020', '6/30/2020',
                 '7/31/2020', '8/31/2020', '9/30/2020', '10/31/2020', '11/30/2020', '12/31/2020']
mean_2020_year = rental_rates_zc_filtered[comlumns_2020_year].mean (axis=1, numeric_only=True )
mean_2020_year

comlumns_2021_year = ['1/31/2021', '2/28/2021', '3/31/2021', '4/30/2021', '5/31/2021', '6/30/2021',
                 '7/31/2021', '8/31/2021', '9/30/2021', '10/31/2021', '11/30/2021', '12/31/2021']
mean_2021_year = rental_rates_zc_filtered[comlumns_2021_year].mean (axis=1, numeric_only=True )
mean_2021_year

comlumns_2022_year = ['1/31/2022', '2/28/2022', '3/31/2022', '4/30/2022', '5/31/2022', '6/30/2022',
                 '7/31/2022', '8/31/2022', '9/30/2022', '10/31/2022', '11/30/2022', '12/31/2022']
mean_2022_year = rental_rates_zc_filtered[comlumns_2022_year].mean (axis=1, numeric_only=True )
mean_2022_year

comlumns_2023_year = ['1/31/2023', '2/28/2023', '3/31/2023', '4/30/2023']
mean_2023_year = rental_rates_zc_filtered[comlumns_2023_year].mean (axis=1, numeric_only=True )
mean_2023_year

0        1948.536343
1        1763.660597
2        1897.503151
3        2731.683945
4        1406.339221
            ...
6364    32373.384688
6365    40000.000000
6366     3776.420600
6367     3807.742423
6368     1199.797073
Length: 6369, dtype: float64

In [7]:
#Create a summary DataFrame
rental_rates_summary = {
    'RegionID': rental_rates_zc_filtered['RegionID'],
    'SizeRank': rental_rates_zc_filtered['SizeRank'],
    'RegionName': rental_rates_zc_filtered['RegionName'],
    'RegionType': rental_rates_zc_filtered['RegionType'],
    'StateName': rental_rates_zc_filtered['StateName'],
    'State': rental_rates_zc_filtered['State'],
    'City': rental_rates_zc_filtered['City'],
    'Metro': rental_rates_zc_filtered['Metro'],
    'Rental_rates Average_2020': mean_2020_year,
    'Rental_rates Average_2021': mean_2021_year,
    'Rental_rates Average_2022': mean_2022_year,
    'Rental_rates Average_2023': mean_2023_year}

# Formatting
rental_rates_summary ["Rental_rates Average_2020"] = rental_rates_summary["Rental_rates Average_2020"].map("${:,.2f}".format)
rental_rates_summary ["Rental_rates Average_2021"] = rental_rates_summary["Rental_rates Average_2021"].map("${:,.2f}".format)
rental_rates_summary ["Rental_rates Average_2022"] = rental_rates_summary["Rental_rates Average_2022"].map("${:,.2f}".format)
rental_rates_summary ["Rental_rates Average_2023"] = rental_rates_summary["Rental_rates Average_2023"].map("${:,.2f}".format)

# Display the DataFrame
rental_rates_summary  = pd.DataFrame(rental_rates_summary)
rental_rates_summary

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,Rental_rates Average_2020,Rental_rates Average_2021,Rental_rates Average_2022,Rental_rates Average_2023
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX","$1,579.20","$1,729.27","$1,908.09","$1,948.54"
1,91940,2,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX","$1,411.60","$1,586.21","$1,748.71","$1,763.66"
2,92593,4,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX","$1,476.56","$1,649.33","$1,879.74","$1,897.50"
3,62093,5,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA","$2,314.60","$2,277.79","$2,665.53","$2,731.68"
4,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",$nan,"$1,178.82","$1,304.13","$1,406.34"
...,...,...,...,...,...,...,...,...,...,...,...,...
6364,62281,27793,11930,zip,NY,NY,Amagansett,"New York-Newark-Jersey City, NY-NJ-PA",$nan,$nan,"$16,032.10","$32,373.38"
6365,62312,28072,11965,zip,NY,NY,Shelter Island Heights,"New York-Newark-Jersey City, NY-NJ-PA",$nan,$nan,$nan,"$40,000.00"
6366,60648,28289,7311,zip,NJ,NJ,Jersey City,"New York-Newark-Jersey City, NY-NJ-PA","$2,976.32","$3,165.66","$3,728.84","$3,776.42"
6367,418163,31650,89158,zip,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",$nan,$nan,"$3,552.34","$3,807.74"
6368,62387,39809,12085,zip,NY,NY,Guilderland Center,"Albany-Schenectady-Troy, NY",$nan,$nan,$nan,"$1,199.80"

In [8]:
#Combine the clean data into a single dataset.  
rental_price_summary = pd.merge(home_values_summary, rental_rates_summary, how="left", on=['RegionID', 'SizeRank', 'RegionName',
                                                                                          'RegionType', 'StateName', 'State', 
                                                                                          'City', 'Metro',
                                                                                          'RegionID', 'SizeRank', 'RegionName',
                                                                                          'RegionType', 'StateName', 'State', 
                                                                                          'City', 'Metro'])
rental_price_summary.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,Home_values Average_2020,Home_values Average_2021,Home_values Average_2022,Home_values Average_2023,Rental_rates Average_2020,Rental_rates Average_2021,Rental_rates Average_2022,Rental_rates Average_2023
0,61148,0,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA","$415,848.93","$481,966.53","$599,744.28","$647,974.41",NaN,NaN,NaN,NaN
1,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX","$361,578.71","$409,439.53","$478,010.41","$482,118.94","$1,579.20","$1,729.27","$1,908.09","$1,948.54"
2,91940,2,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX","$211,373.77","$236,051.68","$275,823.76","$277,712.45","$1,411.60","$1,586.21","$1,748.71","$1,763.66"
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA","$795,395.01","$809,624.93","$852,889.87","$858,314.31",NaN,NaN,NaN,NaN
4,92593,4,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX","$326,109.33","$394,945.42","$453,257.74","$428,311.53","$1,476.56","$1,649.33","$1,879.74","$1,897.50"

In [13]:
sorted_df = rental_price_summary.sort_values(by='RegionName', ascending=True)
sorted_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,Home_values Average_2020,Home_values Average_2021,Home_values Average_2022,Home_values Average_2023,Rental_rates Average_2020,Rental_rates Average_2021,Rental_rates Average_2022,Rental_rates Average_2023
7245,58196,7338,1001,zip,MA,MA,Agawam,"Springfield, MA","$272,653.97","$296,148.92","$313,621.32","$317,991.43",NaN,NaN,NaN,NaN
3864,58197,3918,1002,zip,MA,MA,Amherst,"Springfield, MA","$411,932.83","$450,103.73","$484,243.33","$492,780.82",$nan,$nan,$nan,"$2,251.17"
13211,58200,13464,1005,zip,MA,MA,Barre,"Worcester, MA-CT","$279,467.69","$313,288.21","$344,679.83","$354,591.55",NaN,NaN,NaN,NaN
7520,58201,7622,1007,zip,MA,MA,Belchertown,"Springfield, MA","$335,314.39","$370,465.74","$403,472.14","$410,654.22",NaN,NaN,NaN,NaN
21136,58202,22646,1008,zip,MA,MA,Blandford,"Springfield, MA","$263,439.46","$291,691.91","$316,809.51","$321,534.83",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19181,100468,20072,99827,zip,AK,AK,Haines,NaN,$nan,"$281,713.06","$306,235.87","$295,914.76",NaN,NaN,NaN,NaN
16581,100472,17035,99833,zip,AK,AK,Petersburg,NaN,"$281,000.13","$302,322.79","$305,600.20","$302,752.12",NaN,NaN,NaN,NaN
12393,100473,12624,99835,zip,AK,AK,Sitka,NaN,"$439,931.61","$478,373.80","$495,293.48","$486,119.75",NaN,NaN,NaN,NaN
8754,100478,8878,99901,zip,AK,AK,Ketchikan,"Ketchikan, AK","$378,065.63","$401,861.07","$422,173.93","$423,058.19",NaN,NaN,NaN,NaN
21788,100489,23520,99929,zip,AK,AK,Wrangell,NaN,$nan,$nan,"$255,560.03","$248,893.13",NaN,NaN,NaN,NaN

In [17]:
rental_price_summary.to_csv('rental_price_summary.csv', index=False)

In [9]:
#calculate various statistical measures such as count, mean, minimum, quartiles, and maximum for each numerical column in the DataFrame

mean_by_zipcode = rental_price_summary.groupby('RegionName').mean(numeric_only=True)
mean_by_zipcode

median_by_zipcode = rental_price_summary.groupby('RegionName').median(numeric_only=True)
median_by_zipcode

min_by_zipcode = rental_price_summary.groupby('RegionName').min(numeric_only=True)
min_by_zipcode

max_by_zipcode = rental_price_summary.groupby('RegionName').max(numeric_only=True)
max_by_zipcode

            RegionID  SizeRank
RegionName
1001           58196      7338
1002           58197      3918
1005           58200     13464
1007           58201      7622
1008           58202     22646
...              ...       ...
99827         100468     20072
99833         100472     17035
99835         100473     12624
99901         100478      8878
99929         100489     23520

[26913 rows x 2 columns]