In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

zip_codes_rental = Path("Resources/Zip_zori_sm_month.csv")

zip_codes_rental_data = pd.read_csv(zip_codes_rental)
zip_codes_rental_data

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,3/31/2015,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1561.065329,...,1947.742044,1953.829935,1956.758845,1935.870893,1917.114226,1914.339139,1944.486847,1957.133875,1959.234985,1933.289664
1,91940,2,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1263.983080,...,1770.875616,1818.057677,1814.713333,1793.298090,1760.444957,1757.662917,1749.896441,1759.316255,1769.318907,1776.110784
2,92593,4,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX",Travis County,1262.872501,...,1922.940550,1911.997216,1905.809811,1898.869358,1901.716545,1886.961949,1894.167758,1895.048199,1900.002806,1900.793839
3,62093,5,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2751.841023,2830.421186,2836.374048,2834.725252,2805.089609,2759.510915,2712.637266,2712.293022,2734.607236,2767.198257
4,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1325.407266,1353.864352,1364.959529,1341.954348,1353.201477,1360.543292,1398.441216,1415.040601,1413.163529,1398.711538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6364,62281,27793,11930,zip,NY,NY,Amagansett,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,...,NaN,17189.209060,14571.911460,15934.081970,15888.692260,16576.595330,21141.655760,29216.658820,39431.779730,39703.444440
6365,62312,28072,11965,zip,NY,NY,Shelter Island Heights,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.000000
6366,60648,28289,7311,zip,NJ,NJ,Jersey City,"New York-Newark-Jersey City, NY-NJ-PA",Hudson County,NaN,...,3919.023682,3971.070296,3932.582030,3832.925295,3778.513209,3757.798346,3763.039878,3768.097607,3772.789360,3801.755556
6367,418163,31650,89158,zip,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,NaN,...,NaN,NaN,NaN,NaN,3525.141888,3579.540577,3853.327229,3800.443474,3836.115656,3741.083333
6368,62387,39809,12085,zip,NY,NY,Guilderland Center,"Albany-Schenectady-Troy, NY",Albany County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1192.094145,1207.500000

In [13]:
df.isnull().sum(axis=0).sort_values(ascending=False).head(20)

4/30/2020     3909
5/31/2020     3887
6/30/2020     3886
7/31/2020     3880
8/31/2020     3872
9/30/2020     3865
10/31/2020    3828
11/30/2020    3797
12/31/2020    3741
1/31/2021     3624
2/28/2021     3550
3/31/2021     3390
4/30/2021     3351
5/31/2021     3317
6/30/2021     3284
7/31/2021     3278
8/31/2021     3242
9/30/2021     3191
10/31/2021    3095
11/30/2021    3016
dtype: int64

In [8]:
df= zip_codes_rental_data.iloc[:, 70:103]
df

,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,...,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022
0,1581.056772,1574.671107,1570.170513,1567.867243,1577.875173,1593.462831,1590.414737,1603.515263,1599.948065,1608.499346,...,1863.420112,1883.931549,1898.929300,1921.220176,1947.742044,1953.829935,1956.758845,1935.870893,1917.114226,1914.339139
1,1405.953173,1390.465265,1389.848404,1394.608285,1418.637448,1423.502085,1427.947435,1438.572931,1460.042974,1472.117730,...,1718.773909,1730.370791,1718.253180,1722.378666,1770.875616,1818.057677,1814.713333,1793.298090,1760.444957,1757.662917
2,1475.252470,1476.126398,1463.222248,1465.673674,1485.374109,1496.101412,1499.139560,1483.422324,1486.844190,1494.537230,...,1845.068002,1848.987313,1878.015800,1899.125455,1922.940550,1911.997216,1905.809811,1898.869358,1901.716545,1886.961949
3,2357.526641,2364.729260,2346.279536,2346.829518,2304.794943,2288.559566,2261.911112,2221.415163,2213.126775,2204.022357,...,2482.493111,2532.535027,2573.810808,2672.260752,2751.841023,2830.421186,2836.374048,2834.725252,2805.089609,2759.510915
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1266.978364,1254.401164,1264.999308,1278.109522,1325.407266,1353.864352,1364.959529,1341.954348,1353.201477,1360.543292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17189.209060,14571.911460,15934.081970,15888.692260,16576.595330
6365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2974.296564,2978.348937,3008.819311,...,3552.729136,3598.157829,3674.712002,3796.780193,3919.023682,3971.070296,3932.582030,3832.925295,3778.513209,3757.798346
6367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3525.141888,3579.540577
6368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Specify the start and end dates
start_date = '2020-01-01'
end_date = '2023-04-31'

# Convert the date column to a datetime format
zip_codes_rental_data['date'] = pd.to_datetime(zip_codes_rental_data['date'])

# Filter the data for the desired time range
filtered_data = zip_codes_rental_data[(zip_codes_rental_data['date'] >= start_date) & (zip_codes_rental_data['date'] <= end_date)]

KeyError: 'date'